backend/.env
.logs/
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.DS_Store
*.sql

# Windows启动脚本
*.bat

# Python bytecode
__pycache__/
**/__pycache__/
*.pyc
*.pyo
backend/app/__pycache__/__init__.cpython-312.pyc
backend/.env
